// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.fm-cate{
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}